openapi: 3.0.1

info:
  title: Barchart Push Notification Service
  version: v2.3.1
  description: Register and unregister Android and iOS devices; send mobile push notifications to those devices (via APNS and FCM).
  contact:
    name: Barchart Support
    url: https://help.barchart.com/support/home
    email: support@barchart.com

components:
  schemas:
    RAW-FCM-Notification:
      title: "'RAW' Message Data (FCM)"
      type: object
      x-examples:
        Example:
          Notification:
            Title: 'Title: Hello from GO'
            Body: Even more Content
            Icon: stock_ticker_update
            Color: '#f45342'
            ChannelID: fcm_default_channel
            ClickAction: '.MainActivity'
          Data:
            custom-element: custom-value
      description: "'RAW' Message Data (as JSON string)"
      properties:
        Notification:
          type: object
          properties:
            Title:
              type: string
              description: "The notification's title."
            Body:
              type: string
              description: "The notification's body text."
            Icon:
              type: string
              description: "The notification's icon. Sets the notification icon to myicon for drawable resource myicon."
            Color:
              type: string
              description: "The notification's icon color, expressed in #rrggbb format."
            ChannelID:
              type: string
              description: "The notification's channel ID."
            ClickAction:
              type: string
              description: The action associated with a user click on the notification.
        Data:
          type: object

    Simple-Notification:
      title: "'Simple Notification Data' Request"
      type: object
      x-examples:
        Example:
          title: 'Title:Hello from GO'
          body: Even more Content
          icon: stock_ticker_update
          color: '#f45342'
          click_action: '.MainActivity'
          data:
            custom-element: custom-value
      description: Simple Notification Data (as JSON string)
      properties:
        title:
          type: string
          description: "The notification's title."
        body:
          type: string
          description: "The notification's body text."
        icon:
          type: string
          description: "The notification's icon. Sets the notification icon to myicon for drawable resource myicon."
        color:
          type: string
          description: "The notification's icon color, expressed in #rrggbb format."
        image:
          type: string
          description: Contains the URL of an image that is going to be downloaded on the device and displayed in a notification.
        click_action:
          type: string
          description: The action associated with a user click on the notification.
        data:
          type: object
          description: 'Custom data: arbitrary key/value payload.'
      required:
        - title
        - body

    Simple-Notification-APNs:
      title: "'Simple Notification Data' APNs Request"
      description: Simple Notification Data (as JSON string)
      type: object
      properties:
        title:
          type: string
          description: "The notification's title."
          example: 'Title: Hello from GO'
        subtitle:
          type: string
          description: "The notification's subtitle."
          example: 'subTitle: This is awesome'
        body:
          type: string
          description: "The notification's body text."
          example: 'Even more Content'
        category:
          type: string
          description: "The notification's category."
          example: 'alert'
        data:
          type: object
          description: 'Custom data: arbitrary key/value payload.'
      required:
        - title
        - body

    RAW-APNs-Notification:
      title: "'RAW' Message Data (APNs)"
      type: object
      description: "'RAW' Message Data (as JSON string)"
      x-examples:
        Example:
          aps:
            alert:
              title: 'Title: Hello from GO'
              subtitle: 'subTitle: This is awesome'
              body: Even more Content
              thread_identifier: Master-Thread
              category: alert
            badge: 0
          custom-data:
            custom-element: custom-value
      properties:
        aps:
          type: object
          properties:
            alert:
              type: object
              properties:
                title:
                  type: string
                subtitle:
                  type: string
                body:
                  type: string
                thread_identifier:
                  type: string
                category:
                  type: string
            badge:
              type: number
        custom-data:
          type: object

    FCMResponse:
      type: object
      description: 'An FCM response object'
      properties:
        StatusCode:
          type: integer
          example: 200
        Response:
          type: object
          description: "Response represents the FCM server's response to the application server's sent message"
          properties:
            multicast_id:
              type: integer
              example: 8758031548066235000
            success:
              type: integer
              example: 1
            failure:
              type: integer
              example: 0
            canonical_ids:
              type: integer
              example: 0
            results:
              type: array
              description: Result represents the status of a processed message
              items:
                type: object
                properties:
                  message_id:
                    type: string
                    example: '0:1587579700287156%a62f20e7a62f20e7'
                  registration_id:
                    type: string
                    example: ''
                  error:
                    type: string
                    nullable: true
            failed_registration_ids:
              type: array
              description: Device Group HTTP Response
              nullable: true
              items:
                type: string
            message_id:
              type: integer
              example: 0
            error:
              type: string
              nullable: true

    APNSResponse:
      type: object
      description: 'An APNS response object'
      properties:
        StatusCode:
          type: number
          example: 200
        Reson:
          type: string
          example: ''
        ApnsID:
          type: string
          example: 'D17EF06E-3DCF-E5EE-BBD5-31B4B75CAD63'
        Timestamp:
          type: string
          example: '0001-01-01T00:00:00Z'

  responses:
    ErrorResponse:
      description: 'Object with array of errors'
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: string

tags:
  - name: v1 Android (FCM)
  - name: v1 iOS (APNs)

servers:
  - url: 'https://push-notifications.aws.barchart.com'
  - url: 'https://push-notifications.stage.aws.barchart.com'

paths:
  /v1/fcm/registerDevice:
    post:
      summary: Register Device
      description: "Register an Android device for notifications with FCM. If you provide a userId and realtimeUserId in the same request, it would create 2 records with the following contexts: 'anonymous' and 'realtime'"
      tags:
        - v1 Android (FCM)
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceID:
                  type: string
                  description: Firebase IID
                tokenID:
                  type: string
                  description: FCM Registration Token ID
                bundleID:
                  type: string
                  description: Bundle or site ID
                realtimeUserID:
                  type: string
                  description: Realtime user ID
                  example: 'CHS-borjatesting30@mailinator.com'
                userID:
                  type: string
                  description: User ID
                  example: '12345678'
                logging:
                  type: boolean
                  description: Debug logging flag for the SUCCESS responses
              required:
                - deviceID
                - tokenID
                - bundleID
      responses:
        '200':
          description: Device has been registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceID:
                    type: string
                    description: Firebase IID
                    example: 'ca1GWEasSt-LfySsUq_qhi'
                  tokenID:
                    type: string
                    description: FCM Registration Token ID
                    example: 'ca1GWEasSt-LfySsUq_qhi:APA91bG4YXRvS5dxzUXnDGDgvAh7aojLqZg_21XeiHloaF2Wxqfioyi7JY1sIiFN_oX2_3ye3cgj1cK2forNFIuyo-YVvDd6iwQISXOwVHeJL34j6SuKcaXqqnikn-cPdZ3gb-iSmasd'
                  bundleID:
                    type: string
                    description: Bundle or site ID
                    example: 'com.barchart.ens'
                  realtimeUserID:
                    type: string
                    description: Realtime user ID
                    example: 'CHS-borjatesting30@mailinator.com'
                  userID:
                    type: string
                    description: User ID
                    example: '12345678'
                required:
                  - deviceID
                  - tokenID
                  - bundleID
                  - realtimeUserID
                  - userID
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'

  /v1/fcm/sendNotification:
    post:
      summary: Send Notification
      description: Send a notification to Android device(s) with FCM.
      tags:
        - v1 Android (FCM)
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: |-
                Send notification by:
                - Device ID (required: *deviceID*, *message* or *notification*)
                - Bundle ID (required: *bundleID*, *message* or *notification*)
                - Bundle ID and Realtime User ID (required: *bundleID*, *realtimeUserID*, *message* or *notification*)
                - Bundle ID and User ID (required: *bundleID*, *userID*, *message* or *notification*)
                - FCM Token ID (required: tokenID, *message* or *notification*)
              properties:
                deviceID:
                  type: string
                  description: Firebase IID
                  example: 'ca1GWEasSt-LfySsUq_qhi'
                tokenID:
                  type: string
                  description: FCM Token ID
                  example: 'ca1GWEasSt-LfySsUq_qhi:APA91bG4YXRvS5dxzUXnDGDgvAh7aojLqZg_21XeiHloaF2Wxqfioyi7JY1sIiFN_oX2_3ye3cgj1cK2forNFIuyo-YVvDd6iwQISXOwVHeJL34j6SuKcaXqqnikn-cPdZ3gb-iSmasd'
                bundleID:
                  type: string
                  description: Bundle or site ID
                  example: 'com.barchart.ens'
                realtimeUserID:
                  type: string
                  description: Realtime user ID
                  example: 'CHS-borjatesting30@mailinator.com'
                userID:
                  type: string
                  description: User ID
                  example: '12345678'
                notification:
                  $ref: '#/components/schemas/Simple-Notification'
                message:
                  $ref: '#/components/schemas/RAW-FCM-Notification'
                logging:
                  type: boolean
                  description: Debug logging flag for the SUCCESS responses
                userContext:
                  type: string
                  description: "Optional parameter. Determines a user context. Default values: 'anonymous' for userId and 'realtime' for realtimeUserId"
                provider:
                  type: string
                  description: "Optional parameter. Determines APNS keys to send notifications. Default value: barchart"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FCMResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'

  /v1/apns/registerDevice:
    post:
      summary: Register Device
      description: "Register an iOS device for notifications with APNs. If you provide a userId and realtimeUserId in the same request, it would create 2 records with the following contexts: 'anonymous' and 'realtime'"
      tags:
        - v1 iOS (APNs)
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceID:
                  type: string
                  description: Device ID (Unique ID to identify iOS device)
                  example: 'f70211b7d3ac7630567898fb861632f5566a57b59bf2809ddd61b5170e61adfd'
                bundleID:
                  type: string
                  description: Bundle or site ID
                  example: 'com.barchart.ens'
                realtimeUserID:
                  type: string
                  description: Realtime user ID
                  example: 'CHS-borjatesting30@mailinator.com'
                userID:
                  type: string
                  description: User ID
                  example: '12345678'
                logging:
                  type: boolean
                  description: Debug logging flag for the SUCCESS responses
              required:
                - deviceID
                - bundleID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceID:
                    type: string
                    description: Device ID (Unique ID to identify iOS device)
                    example: 'f70211b7d3ac7630567898fb861632f5566a57b59bf2809ddd61b5170e61adfd'
                  bundleID:
                    type: string
                    description: Bundle or site ID
                    example: 'com.barchart.ens'
                  realtimeUserID:
                    type: string
                    description: Realtime user ID
                    example: 'CHS-borjatesting30@mailinator.com'
                  userID:
                    type: string
                    description: User ID
                    example: '12345678'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'

  /v1/apns/sendNotification:
    post:
      summary: Send Notification
      description: Send a notification to iOS device(s) with APNs.
      tags:
        - v1 iOS (APNs)
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: |-
                Send notification by:
                - Device ID (required: *deviceID*, *apns* or *notification*)
                - Device ID and Bundle ID (required: *deviceID*, *bundleID*, *apns* or *notification*)
                - Bundle ID and Realtime User ID (required: *bundleID*, *realtimeUserID*, *apns* or *notification*)
                - Bundle ID and User ID (required: *bundleID*, *userID*, *apns* or *notification*)
              properties:
                development:
                  type: boolean
                  description: 'Development Sending mode (Boolean, Optional)'
                deviceID:
                  type: string
                  description: Device ID (Unique ID to identify iOS device)
                  example: 'f70211b7d3ac7630567898fb861632f5566a57b59bf2809ddd61b5170e61adfd'
                bundleID:
                  type: string
                  description: Bundle or site ID
                  example: 'com.barchart.ens'
                realtimeUserID:
                  type: string
                  description: Realtime user ID
                  example: 'CHS-borjatesting30@mailinator.com'
                userID:
                  type: string
                  description: User ID
                  example: '12345678'
                notification:
                  $ref: '#/components/schemas/Simple-Notification-APNs'
                apns:
                  $ref: '#/components/schemas/RAW-APNs-Notification'
                logging:
                  type: boolean
                  description: Debug logging flag for the SUCCESS responses
                userContext:
                  type: string
                  description: "Optional parameter. Determines a user context. Default values: 'anonymous' for userId and 'realtime' for realtimeUserId"
                provider:
                  type: string
                  description: "Optional parameter. Determines APNS keys to send notifications. Default value: barchart"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/APNSResponse'
                  - type: array
                    items:
                      $ref: '#/components/schemas/FCMResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
